<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        function SignUp() {
            let input_nickname = $('#input-nickname').val();
            let input_password = $('#input-password').val();
            let input_confirm = $('#confirm_password').val();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/api/signup',
                data: {
                    nickname: input_nickname,
                    password: input_password,
                    confirmPassword: input_confirm
                },
                success: function (response) {
                    location.href = '/';
                    alert(response['success'])
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                }
            })
        }
    </script>
    <title>회원가입</title>
</head>

<body>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">사용할 닉네임</span>
        </div>
        <input type="text" id="input-nickname" class="form-control" aria-label="Default"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">비밀번호</span>
        </div>
        <input type="text" id="input-password" class="form-control" aria-label="Default"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">비밀번호확인</span>
        </div>
        <input type="text" id="confirm_password" class="form-control" aria-label="Default"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <button type="button" class="btn btn-primary" onclick="SignUp()">가입하기</button>
</body>

</html>